// Pico lightweight version
@use "pico" with (
  $enable-semantic-container: true,
  $enable-classes: false,
  $modules: (
    "content/code": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/card": true,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": true,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false
  ),
  $breakpoints:
    (
      // Small (landscape phones)
      // Font size: 17px
      sm: (
          breakpoint: 576px,
          viewport: 510px,
          root-font-size: 106.25%,
        ),

      // Medium (tablets)
      // Font size: 18px
      md: (
          breakpoint: 768px,
          viewport: 700px,
          root-font-size: 112.5%,
        ),

      // Large
      // Font size: 19px
      lg: (
          breakpoint: 1024px,
          viewport: 850px,
          root-font-size: 118.75%,
        ),

      // Extra large
      // Font size: 20px
      xl: (
          breakpoint: 1280px,
          viewport: 850px,
          root-font-size: 118.75%,
        ),

      // Extra extra large
      // Font size: 21px
      xxl: (
          breakpoint: 1536px,
          viewport: 850px,
          root-font-size: 118.75%,
        )
    )
);